.hero-container {
  position: relative;
  height: 256px;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}